@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

@theme {

  /* Colors */
  --color-primary-100: #fff1e6;
  --color-primary-500: #ff7000;

  --color-dark-100: #000000;
  --color-dark-200: #0f1117;
  --color-dark-300: #151821;
  --color-dark-400: #212734;
  --color-dark-500: #101012;

  --color-light-900: #ffffff;
  --color-light-800: #f4f6f8;
  --color-light-850: #fdfdfd;
  --color-light-700: #dce3f1;
  --color-light-500: #7b8ec8;
  --color-light-400: #858ead;

  /* Box Shadows */
  --shadow-light-100: 0px 12px 20px 0px rgba(184, 184, 184, 0.03), 0px 6px 12px 0px rgba(184, 184, 184, 0.02), 0px 2px 4px 0px rgba(184, 184, 184, 0.03);
  --shadow-light-200: 10px 10px 20px 0px rgba(218, 213, 213, 0.10);
  --shadow-light-300: -10px 10px 20px 0px rgba(218, 213, 213, 0.10);
  --shadow-dark-100: 0px 2px 10px 0px rgba(46, 52, 56, 0.10);
  --shadow-dark-200: 2px 0px 20px 0px rgba(39, 36, 36, 0.04);

  /* Breakpoints */
  --breakpoint-xs: 420px;

  /* Border Radius */
  --radius: 8px;
}

@plugin "@tailwindcss/typography";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  /* Typography Utilities */
  .h1-bold {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.02em;
  }

  .h2-bold {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
  }

  .h2-semibold {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
  }

  .h3-bold {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }

  .h3-semibold {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.8px;
  }

  .base-medium {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
  }

  .base-semibold {
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
  }

  .base-bold {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
  }

  .paragraph-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }

  .paragraph-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
  }

  .paragraph-semibold {
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
  }

  .body-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
  }

  .body-medium {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
  }

  .body-semibold {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
  }

  .body-bold {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
  }

  .small-regular {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
  }

  .small-medium {
    font-size: 12px;
    font-weight: 500;
    line-height: 15.6px;
  }

  .small-semibold {
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
  }

  .subtle-medium {
    font-size: 10px !important;
    font-weight: 500 !important;
    line-height: 13px !important;
  }

  .subtle-regular {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
  }

  /* Background Utilities */
  .background-light850_dark100 {
    @apply bg-light-850;
  }

  .dark .background-light850_dark100 {
    @apply bg-dark-100;
  }

  .background-light900_dark200 {
    @apply bg-light-900;
  }

  .dark .background-light900_dark200 {
    @apply bg-dark-200;
  }

  .background-light900_dark300 {
    @apply bg-light-900;
  }

  .dark .background-light900_dark300 {
    @apply bg-dark-300;
  }

  .background-light800_darkgradient {
    @apply bg-light-800;
  }

  .dark .background-light800_darkgradient {
    background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
  }

  .background-light800_dark400 {
    background-color: var(--color-light-800) !important;
  }

  .dark .background-light800_dark400 {
    background-color: var(--color-dark-400) !important;
  }

  .background-light700_dark400 {
    @apply bg-light-700;
  }

  .dark .background-light700_dark400 {
    @apply bg-dark-400;
  }

  .background-light700_dark300 {
    @apply bg-light-700;
  }

  .dark .background-light700_dark300 {
    @apply bg-dark-300;
  }

  .background-light800_dark300 {
    background-color: var(--color-light-800) !important;
  }

  .dark .background-light800_dark300 {
    background-color: var(--color-dark-300) !important;
  }

  .background-light800_dark200 {
    @apply bg-light-800;
  }

  .dark .background-light800_dark200 {
    @apply bg-dark-200;
  }

  .background-dark400_light900 {
    background-color: var(--color-light-900) !important;
  }

  .dark .background-dark400_light900 {
    background-color: var(--color-dark-400) !important;
  }

  /* Text Color Utilities */
  .text-dark100_light900 {
    color: var(--color-dark-100) !important;
  }

  .dark .text-dark100_light900 {
    color: var(--color-light-900) !important;
  }

  .text-dark200_light900 {
    @apply text-dark-200;
  }

  .dark .text-dark200_light900 {
    @apply text-light-900;
  }

  .text-dark200_light800 {
    color: var(--color-dark-200) !important;
  }

  .dark .text-dark200_light800 {
    color: var(--color-light-800) !important;
  }

  .text-dark300_light700 {
    @apply text-dark-300;
  }

  .dark .text-dark300_light700 {
    @apply text-light-700;
  }

  .text-dark400_light700 {
    @apply text-dark-400;
  }

  .dark .text-dark400_light700 {
    @apply text-light-700;
  }

  .text-dark500_light700 {
    color: var(--color-dark-500) !important;
  }

  .dark .text-dark500_light700 {
    color: var(--color-light-700) !important;
  }

  .text-dark500_light500 {
    @apply text-dark-500;
  }

  .dark .text-dark500_light500 {
    @apply text-light-500;
  }

  .text-dark500_light400 {
    @apply text-dark-500;
  }

  .dark .text-dark500_light400 {
    @apply text-light-400;
  }

  .text-dark300_light900 {
    color: var(--color-dark-300) !important;
  }

  .dark .text-dark300_light900 {
    color: var(--color-light-900) !important;
  }

  .text-dark400_light800 {
    @apply text-dark-400;
  }

  .dark .text-dark400_light800 {
    @apply text-light-800;
  }

  .text-light400_light500 {
    color: var(--color-light-400) !important;
  }

  .dark .text-light400_light500 {
    color: var(--color-light-500) !important;
  }

  .text-dark400_light500 {
    @apply text-dark-400;
  }

  .dark .text-dark400_light500 {
    @apply text-light-500;
  }

  .text-dark400_light900 {
    color: var(--color-dark-400) !important;
  }

  .dark .text-dark400_light900 {
    color: var(--color-light-900) !important;
  }

  /* Border Utilities */
  .light-border {
    @apply border-light-800;
  }

  .dark .light-border {
    @apply border-dark-300;
  }

  .light-border-2 {
    border-color: var(--color-light-700) !important;
  }

  .dark .light-border-2 {
    border-color: var(--color-dark-400) !important;
  }

  /* Placeholder */
  .placeholder::placeholder {
    @apply text-light-400;
  }

  .dark .placeholder::placeholder {
    @apply text-light-500;
  }

  /* Invert Colors */
  .invert-colors {
    @apply invert;
  }

  .dark .invert-colors {
    filter: invert(0);
  }

  /* Shadow Utilities */
  .shadow-light100_dark100 {
    box-shadow: var(--shadow-light-100);
  }

  .dark .shadow-light100_dark100 {
    box-shadow: var(--shadow-dark-100);
  }

  .shadow-light100_darknone {
    box-shadow: var(--shadow-light-100);
  }

  .dark .shadow-light100_darknone {
    box-shadow: none;
  }

  /* Gradient Utilities */
  .primary-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  }

  .dark-gradient {
    background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
  }

  .light-gradient {
    background: linear-gradient(132deg, rgba(247, 249, 255, 0.5) 0%, rgba(229, 237, 255, 0.25) 100%);
  }

  .primary-text-gradient {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Flexbox Utilities */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  /* Card and Button Utilities */
  .card-wrapper {
    @apply bg-light-900 shadow-light-100;
  }

  .dark .card-wrapper {
    background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
    box-shadow: var(--shadow-dark-100);
  }

  .btn {
    background-color: var(--color-light-800) !important;
  }

  .dark .btn {
    background-color: var(--color-dark-300) !important;
  }

  .btn-secondary {
    background-color: var(--color-light-800) !important;
  }

  .dark .btn-secondary {
    background-color: var(--color-dark-400) !important;
  }

  .btn-tertiary {
    background-color: var(--color-light-700) !important;
  }

  .dark .btn-tertiary {
    background-color: var(--color-dark-300) !important;
  }

  /* Focus Utilities */
  .no-focus {
    --tw-ring-offset-shadow: 0 0 transparent !important;
    --tw-ring-shadow: 0 0 transparent !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent) !important;
  }

  .no-focus:focus-visible {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }

  /* Markdown Utilities */
  .markdown {
    @apply max-w-full prose prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500;
  }

  .dark .markdown {
    @apply prose-p:text-light-700 prose-ol:text-light-700 prose-ul:text-light-500 prose-strong:text-white prose-headings:text-white;
  }

  .markdown-editor {
    @apply prose max-w-full prose-p:m-0 prose-headings:text-dark-400 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500 prose-blockquote:text-dark-500;
  }

  .dark .markdown-editor {
    @apply prose-headings:text-white prose-p:text-light-700 prose-ul:text-light-700 prose-ol:text-light-700 prose-strong:text-white prose-blockquote:text-light-700;
  }

  /* Tab Utilities */
  .tab {
    min-height: 100%;
    background-color: var(--color-light-800);
    color: var(--color-light-500);
  }

  .dark .tab {
    background-color: var(--color-dark-400);
  }

  .tab[data-state="active"] {
    background-color: var(--color-primary-100) !important;
    color: var(--color-primary-500) !important;
  }

  .dark .tab[data-state="active"] {
    background-color: var(--color-dark-300) !important;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Active Theme */
.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg) brightness(104%) contrast(106%) !important;
}

/* Hash Span */
.hash-span {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

/* MDX Editor Toolbar */
.mdxeditor-toolbar {
  background: #ffffff !important;
}

.dark .mdxeditor-toolbar {
  background: #151821 !important;
}

.dark .mdxeditor-toolbar button svg {
  color: #858ead !important;
}

.dark .mdxeditor-toolbar button:hover svg {
  color: #000 !important;
}

.dark .mdxeditor-toolbar [role="separator"] {
  border-color: #555 !important;
}

/* Markdown Links and Code */
.markdown a {
  color: #1da1f2;
}

.markdown a,
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 2px;
  color: #ff7000 !important;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;
  color: inherit !important;
}

/* Lexical Editor */
[data-lexical-editor="true"] {
  height: 350px !important;
  overflow-y: auto !important;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}