@import "tailwindcss";

@theme {
  --color-primary-100: #fff1e6;
  --color-primary-500: #ff7000;
  
  --color-dark-100: #000000;
  --color-dark-200: #0f1117;
  --color-dark-300: #151821;
  --color-dark-400: #212734;
  --color-dark-500: #101012;
  
  --color-light-900: #ffffff;
  --color-light-800: #f4f6f8;
  --color-light-850: #fdfdfd;
  --color-light-700: #dce3f1;
  --color-light-500: #7b8ec8;
  --color-light-400: #858ead;

  --shadow-light-100: 0px 12px 20px 0px rgba(184, 184, 184, 0.03), 0px 6px 12px 0px rgba(184, 184, 184, 0.02), 0px 2px 4px 0px rgba(184, 184, 184, 0.03);
  --shadow-light-200: 10px 10px 20px 0px rgba(218, 213, 213, 0.10);
  --shadow-light-300: -10px 10px 20px 0px rgba(218, 213, 213, 0.10);
  --shadow-dark-100: 0px 2px 10px 0px rgba(46, 52, 56, 0.10);
  --shadow-dark-200: 2px 0px 20px 0px rgba(39, 36, 36, 0.04);

  --breakpoint-xs: 420px;
  --radius: 8px;
}

@plugin "@tailwindcss/typography";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
  
  :root {
    --radius: 8px;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  
  .flex-between {
    @apply flex justify-between items-center;
  }
  
  .flex-start {
    @apply flex justify-start items-center;
  }
  
  .card-wrapper {
    @apply bg-light-900 shadow-light-100;
  }
  
  .dark .card-wrapper {
    background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
    box-shadow: var(--shadow-dark-100);
  }
  
  .btn {
    background-color: var(--color-light-800) !important;
  }
  
  .dark .btn {
    background-color: var(--color-dark-300) !important;
  }
  
  .btn-secondary {
    background-color: var(--color-light-800) !important;
  }
  
  .dark .btn-secondary {
    background-color: var(--color-dark-400) !important;
  }
  
  .btn-tertiary {
    background-color: var(--color-light-700) !important;
  }
  
  .dark .btn-tertiary {
    background-color: var(--color-dark-300) !important;
  }
  
  .no-focus {
    --tw-ring-offset-shadow: 0 0 transparent !important;
    --tw-ring-shadow: 0 0 transparent !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent) !important;
  }
  
  .no-focus:focus-visible {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
  }
  
  .markdown {
    @apply max-w-full prose prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500;
  }
  
  .dark .markdown {
    @apply prose-p:text-light-700 prose-ol:text-light-700 prose-ul:text-light-500 prose-strong:text-white prose-headings:text-white;
  }
  
  .markdown-editor {
    @apply prose max-w-full prose-p:m-0 prose-headings:text-dark-400 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500 prose-blockquote:text-dark-500;
  }
  
  .dark .markdown-editor {
    @apply prose-headings:text-white prose-p:text-light-700 prose-ul:text-light-700 prose-ol:text-light-700 prose-strong:text-white prose-blockquote:text-light-700;
  }
  
  .tab {
    min-height: 100%;
    background-color: var(--color-light-800);
    color: var(--color-light-500);
  }
  
  .dark .tab {
    background-color: var(--color-dark-400);
  }
  
  .tab[data-state="active"] {
    background-color: var(--color-primary-100) !important;
    color: var(--color-primary-500) !important;
  }
  
  .dark .tab[data-state="active"] {
    background-color: var(--color-dark-300) !important;
  }
  
  .dark-gradient {
    background: linear-gradient(232deg, rgba(23, 28, 35, 0.41) 0%, rgba(19, 22, 28, 0.7) 100%);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg) brightness(104%) contrast(106%) !important;
}

.hash-span {
  margin-top: -140px;
  padding-bottom: 140px;
  display: block;
}

.mdxeditor-toolbar {
  background: #ffffff !important;
}

.dark .mdxeditor-toolbar {
  background: #151821 !important;
}

.dark .mdxeditor-toolbar button svg {
  color: #858ead !important;
}

.dark .mdxeditor-toolbar button:hover svg {
  color: #000 !important;
}

.dark .mdxeditor-toolbar [role="separator"] {
  border-color: #555 !important;
}

.markdown a {
  color: #1da1f2;
}

.markdown a,
code {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  padding: 2px;
  color: #ff7000 !important;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;
  color: inherit !important;
}

[data-lexical-editor="true"] {
  height: 350px !important;
  overflow-y: auto !important;
}